<h2>Filters</h2>
<div class="row mb-2">
    <div class="col-md">
        <h3>Applied filters</h3>
        <div id="active-filter-collection"></div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md">
        <h3>Available filters</h3>
        <div id="available-filter-collection"></div>
    </div>
</div>
