<div class="container mb-3 subscription" id="subscription-user-{{ sub.id }}">
    <div class="row mb-2">
        <h2 id="subscription-user-{{ sub.id }}-name">{{ sub.name }}</h2>
    </div>
    <div class="row">
        <div class="col-md text-end">
            <a href="{{ sub.url }}" id="{{ sub.id }}-ao3-link">Link to Ao3</a>
        </div>
    </div>
</div>
