<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ao3 Subscription Listings</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="/static/icons/bootstrap-icons.svg#bootstrap"></use></svg>
          <span class="fs-4">Ao3 Subscription Listings</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link">Works</a></li>
          <li class="nav-item"><a href="/series" class="nav-link">Series</a></li>
          <li class="nav-item"><a href="/users" class="nav-link">Users</a></li>
        </ul>
      </header>
    </div>

    <div class="container">
      <main>{% block content %}{% endblock %}</main>
    </div>

    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script>
      {% block endscript %}
      {% endblock %}
    </script>
  </body>
</html>
